<input [(ngModel)]="email" placeholder="email" /> {{ email }} <br>
<input [(ngModel)]="username" placeholder="username" /> {{ username }} <br>
<input [(ngModel)]="password" placeholder="password" /> {{ password }}  <br>
<input [(ngModel)]="conPass" placeholder="conPass" /> {{ conPass }} <br>
<button (click)="submit()"> sign in </button>

<br><br><br>

<input [(ngModel)]="confirmEmail" placeholder="confirm email" /> {{ confirmEmail }} <br>
<input [(ngModel)]="varificationCode" placeholder="confirm email" /> {{ varificationCode }} <br>
<button (click)="confirm()"> confirm </button>
 
